{% load static %}
<div id="list-example" class="list-group">
    <a class="list-group-item list-group-item-action" href="{% url 'list' %}">Lista</a>
    <a class="list-group-item list-group-item-action" href="{% url 'form' %}">Formulário</a>
    <a class="list-group-item list-group-item-action" href="#list-item-3">None</a>
    <a class="list-group-item list-group-item-action" href="#list-item-4">None</a>
  </div>
  <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
</div>