{% extends 'base.html' %}
{% load static %}

    {% block content %}
    <form class="row g-3 needs-validation" novalidate action="/animes/save" method="post">
        <div class="col-md-4">
            <label for="validationCustom01" class="form-label">Nome:</label>
            <input type="text" class="form-control" id="validationCustom01" value="One Piece" required>
            <div class="valid-feedback">
              Looks good!
        </div>

        <div class="col-1-4">
            <label for="validationCustom01" class="form-label">Lançamento:</label>
            <input type="text" class="form-control" id="validationCustom01" value="1993" required>
            <div class="valid-feedback">
              Looks good!
        </div>

        <div class="col-2-4">
            <label for="validationCustom01" class="form-label">Produtora:</label>
            <input type="text" class="form-control" id="validationCustom01" value="Shonen Jump" required>
            <div class="valid-feedback">
              Looks good!
        </div>
        
        <div class="col-13">
           <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
    </form>

    {% endblock %}