{% extends 'base.html' %}
{% load static %}
    {% block content%}
    <table class="table">
        <thead>
            <tr>
                <th scope="col"> Nome </th>
                <th scope="col"> Lançamento </th>
                <th scope="col"> Produtora</th>
            </tr>
        </thead>
        <tbody>
            {% for anime in animes %}
            <tr>
                <td> {{ anime.nome }} </td>
                <td> {{ anime.dataLancamento }} </td>
                <td> {{ anime.produtora }} </td>
                {% if animes %}
                <td sec:authorize="hasRole('ROLE_ADMIN')"> <a href="">  <button type="button" class="btn btn-danger"> Delete </button> </a> </td>
                {% endif %}
                <td> <a class="btn btn-primary"> Atualizar </a> </td>
                <td> <img width="20" height="20" src="" alt=""> </td>
            {% endfor %}
            </tr>
        </tbody>
    </table>
    {% endblock%}